<section>  
<p> 
Obrigado por se registrar no Be the Hero, clique no link para liberar seu acesso no site. <br/>
<a href="http://localhost:3000/authentication/{{token}}">Liberar acesso</a>
</p>  
</section> 

 